/* ------------------------------------
 General
--------------------------------------- */

html,
body,
div#root,
div.app {
  font-family: "Segoe UI";
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #1e1e1e;
}

body {
  color: #ddd;
  font-size: 16px;
}

div.app {
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0px;
  height: 60px;
  box-sizing: border-box;
  width: 100%;
  background: #252525;
  border-bottom: 1px solid #383838;
}

main {
  margin-top: 60px;
  flex: auto;
  padding: 0px;
}

header a {
  float: left;
  height: 60px;
  line-height: 60px;
  padding: 0px 16px;
}

header a button {
  font-weight: 600;
  font-size: 14px;
  color: #ddd;
}

a {
  color: #e0b24d;
}

header a button:hover {
  border-bottom: 2px solid #e0b24d !important;
}

footer {
  background: #eee;
  min-height: 40px;
  width: 100%;
  font-size: x-small;
  text-align: center;
  border-top: 1px solid gray;
  z-index: 999;
}

/* ------------------------------------
 Typography
--------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-top: 0.25em 0em;
}

/* ---------------------------------------------
 Forms
------------------------------------------------ */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="checkbox"],
input[type="radio"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  min-height: 30px;
  min-width: 30px;
  padding: 1px 6px; /* The 1px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
  min-height: 20px;
  min-width: 20px;
}

/* form elements in tables slightly condensed */
td > input[type="email"],
td > input[type="number"],
td > input[type="search"],
td > input[type="text"],
td > input[type="checkbox"],
td > input[type="radio"],
td > input[type="tel"],
td > input[type="url"],
td > input[type="password"],
td > textarea,
td > select {
  min-height: 20px;
}

textarea {
  min-height: 65px;
  padding: 4px 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

/* readonly forms */
input[readonly] {
  background: #eee;
  color: #666;
}

form p {
  margin-top: 9px;
}

label > input {
  display: block;
}

label,
legend {
  font-weight: 600;
}

label {
  display: block;
  margin-top: 12px;
}

fieldset {
  padding: 6px;
  border: 1px solid #ccc;
  border-width: 1px;
  border-radius: 4px;
  /*box-shadow: 12px 12px 5px #666;*/
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

form label {
  text-align: left;
}

/* v-align any text element immediately after radio button */
form input[type="radio"] + *,
form input[type="checkbox"] + * {
  line-height: 20px;
  vertical-align: top;
  padding-left: 6px;
  margin-right: 20px;
}

/* ----------------------------------
 Buttons
------------------------------------- */

.button {
  display: inline-block;
  height: 30px;
  padding: 0 20px;
  color: #222;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #ddd;
  border-radius: 4px;
  border: 1px solid #222;
  cursor: pointer;
  box-sizing: border-box;
  margin: 1em 1em 1em 0em;
}

.button:hover,
.button:focus {
  color: #222;
  background-color: #666;
  border-color: #888;
  outline: 0;
}

.button.primary,
button.primary,
input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary {
  color: #222;
  background-color: #e0b24d;
  border-color: #222; /* #33C3F0; */
}

.button.primary:hover,
button.primary:hover,
input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
.button.primary:focus,
button.primary:focus,
input[type="submit"].primary:focus,
input[type="reset"].primary:focus,
input[type="button"].primary:focus {
  color: #fff;
  background-color: #234567;
  border-color: #1eaedb;
}

/* ---------------------------------------------
 Modal Forms
------------------------------------------------ */

.modal {
  /*display: none; */ /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* ---------------------------------------------
 Lists
------------------------------------------------ */

ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0.5em;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0.5em 0 0.5em 3em;
  font-size: 90%;
}

li {
  margin-bottom: 0.25em;
}

/* ---------------------------------------------
 Code / Pre
------------------------------------------------ */

code {
  padding: 0.2em 0.5em;
  margin: 0 0.2em;
  font-size: 90%;
  white-space: nowrap;
  background: #252525;
  border: 1px solid #ababab;
  border-radius: 4px;
  color: #ddd;
}

pre {
  font-family: sans-serif, "Helvetica Neue", Helvetica, Arial;
}

pre > code {
  display: block;
  padding: 1em 1.5em;
  white-space: pre;
}

/* ---------------------------------------------
 Blockquote + cite
------------------------------------------------ */

blockquote {
  border-left: 10px solid rgb(61, 79, 93);
  font-style: italic;
  margin: 1em 0;
  padding: 1em 4em;
  line-height: 1.45;
  position: relative;
  background: #252525;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 60px;
  position: absolute;
  left: 20px;
  top: 0px;
  color: #7a7a7a;
}

blockquote cite {
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

blockquote a {
  text-decoration: none;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

header a button:hover,
header a:hover {
  cursor: pointer;
}
